body {
  margin: 0;
}

#app {
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  width: 400px;
  height: fit-content;
  padding: 15px;

  .title {
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);
  }

  .button {
    width: 100%;
    box-sizing: border-box;
    background: #1e88e5;
    border: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  
    &:active {
      box-shadow: 0 3px 6px rgba(0,0,0,0.6), 0 3px 6px rgba(0,0,0,0.23);
      background: #155e9e;
    }
  }
}